*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
}

.title h1{
    width: 100%;
}

.title a{
    font-size: 25px;
    color: #838383;
    transition: color 1.1s ease;
}

.title a:hover{
    transition: color 1.1s ease;
    color: #4cd964;
}

.table{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
}

.row{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
}

.row .square{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid rgb(206, 206, 206);
}

#keyboard-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    align-items: center;
}

.keys-row{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.keyboard-cap{
    padding: 6%;
    margin: 2px;
    font-weight: 700;
    background-color: rgb(184, 184, 184);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.row > .square.correct{
    background-color: #4cd964;
    border-color: #4cd964;
    color: white;
}
.row > .square.exist{
    background-color: #fcce45;
    border-color: #fcce45;
    color: white;
}
.row > .square.wrong{
    border-color: #838383;
    background-color: #838383;
    cursor: default;
    color: white;
}

#keyboard-container > .keys-row >.correct{
    background-color: #4cd964;
    border-color: #4cd964;
    color: white;
}
#keyboard-container > .keys-row >.exist{
    background-color: #fcce45;
    border-color: #fcce45;
    color: white;
}
#keyboard-container > .keys-row >.wrong{
    border-color: #838383;
    background-color: #838383;
    cursor: default;
    color: white;
}

.pop-up{
    background-color: white;
    border: 2px solid black;
    height: fit-content;
    min-width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;    
    border-radius: 5px;
    z-index: 3;
    padding: 20px;
    transition: all 0.9s ease;
}

.pop-up > * {
    margin: 5px 0;
}

.pop-up.hidden{
    bottom: -150%;
    transition: all 0.9s ease;
}

.pop-up button{
    background-color: cornflowerblue;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.pop-up .square{
    height: 60px;
    width: 60px;
}

.pop-up .table{
    grid-template-rows: 30% 30% 30%;
}

.pop-up .row{
    grid-template-columns: 20% 80%;
    align-items: center;
    width: fit-content;
    margin: 5px 0;
}

.pop-up .row > div:nth-child(2){
    margin-left: 10px;
}

.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(153, 153, 153, 0.384);
    z-index: 2;
    transition: all 0.9s ease;
}

.overlay.disabled{
    display: none;
    transition: all 0.9s ease;
}

.author{
    font-size: 0.8em;
}

.author a{
    color: cornflowerblue;
}